<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>log4j2.xml</param-value>
</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<session-config>
		<!-- Note that the value of the timeout is set in minutes, not in seconds. -->
		<session-timeout>160</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>startup.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{GuestPreferences.theme}</param-value>
	</context-param>
	<context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
	    <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-beans.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>2147483647</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>No Cache Filter</filter-name>
		<filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>No Cache Filter</filter-name>
		<servlet-name>Faces Servlett</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>Faces Exception Filter</filter-name>
		<filter-class>org.omnifaces.filter.FacesExceptionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Faces Exception Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<!-- <listener> <listener-class>org.ace.java.web.common.BootStrap</listener-class> 
		</listener> -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>3</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>3</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>
	<listener>
		<listener-class>org.ace.java.web.common.SetActiveViewMapsSizeSessionListener</listener-class>
	</listener>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>My realm</realm-name>
		<form-login-config>
			<form-login-page>/view/login.xhtml</form-login-page>
			<form-error-page>/view/login.xhtml</form-error-page>
		</form-login-config>
	</login-config>
</web-app>